* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
}



ul {
    list-style-type: none;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: .9em;
    transition: .2s;
}

a:hover {
    color: purple;
}

footer {
    text-transform: uppercase;
    font-size: .8em;
    text-align: center
}

button:hover:enabled {
    cursor: pointer;
}


/* navbar stuff */
.logo {
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
}

.navbar {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.navbar li {
    display: inline-block;
    padding-left: 2em;
}

/* tagline */
.tagline {
    color: white;
    margin-top: 200px;
}

/* main content areas */



/* bio section (do I even need this?) */
.bio {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

#email {
    background-color: rgb(35, 128, 182);
    color: white;
    padding: 15px;
    border-radius: 5px;
    transition: .2s;
}

#email:hover:enabled {
    background-color: rgb(31, 90, 158);
}


/* about section (seems redundant with the bio section?) */
#about {
    padding-left: 25px;
}

.social-link-bar {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.social-link {
    font-size: 2em;
}


/* projects section */
#projects {
    padding-left: 25px;
}

.tech-used {
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-wrapper {
    padding: 10px;
}

.project-link {
    padding: 20px;
}


/* parallax attempt #2 */
/* images can--WILL--be changed. probably to dramatic rafting pics to support the bold words of the bio. maybe some sweet diving pics too, for variety */
.parallax1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/kitten.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/puppy.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/pup.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/bill.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fade {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0));
    padding-bottom: 20px;
}
